{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-10 text-center p-2">
            <h1>Consultas</h1>
        </div>
        <div class="col-2">
            <button class="btn btn-primary mt-3 p-2" data-toggle="modal" data-target="#create_modal">Crear Consulta</button>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            {% for inquiry in inquiries %}
                <div class="col-6">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{ inquiry.person }}</h5>
                        <p class="card-text">{{ inquiry.consulting_room }}</p>
                        <a href="#" class="btn btn-danger">Finalizar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>         
<!-- Create Modal -->
<div class="modal fade" id="create_modal" tabindex="-1" aria-labelledby="create_modal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary text-light">
        <h5 class="modal-title" id="create_modal">Crear Consulta</h5>
        </div>
        <div class="modal-body">
            <form action="{% url 'create_inquiry' %}" method="POST" class="form-group">
                {% csrf_token %}
                <label for="person_id">Paciente</label>
                <select name="person_id" class="form-control mb-3">
                    <option value="">---- Seleccione una opcion ----</option>
                    {% for person in persons %}
                        <option value="{{ person.id }}">{{ person }}</option>
                    {% endfor %}
                </select>
                <label for="consulting_room_id">Consultorio</label>
                <select name="consulting_room_id" class="form-control mb-3">
                    <option value="">Seleccione una opcion</option>
                    {% for consulting_room in consulting_rooms %}
                        <option value="{{ consulting_room.id }}">{{ consulting_room }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Crear</button>
        </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}