{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row my-4">
            <div class="col-10 text-center p-2">
                <h1>Personas</h1>
            </div>
            <div class="col-2">
                <button class="btn btn-primary mt-3 p-2" data-toggle="modal" data-target="#create_modal">Crear Persona</button>
            </div>
        </div>
        <table class="table table-bordered table-striped text-center">
            <thead class="bg-info">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.id }}</td>
                        <td>{{ person.name }}</td>
                        <td>{{ person.surname }}</td>
                        <td>{{ person.sex.name }}</td>
                        <td>
                            <button class="btn btn-success" data-toggle="modal" data-target="#update_modal{{ person.id }}">Editar</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#delete_modal{{ person.id }}">Eliminar</button>
                        </td>
                    </tr>
                    <!-- Update Modal -->
                    <div class="modal fade" id="update_modal{{ person.id }}" tabindex="-1" aria-labelledby="update_modal{{ person.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-light">
                            <h5 class="modal-title" id="update_modal">Actualizar Persona</h5>
                            </div>
                            <div class="modal-body">
                                <form action="" method="POST" class="form-group">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="name">Nombre</label>
                                            <input type="text" name="name" class="form-control mb-3" placeholder="Ingrese el nombre..." value="{{ person.name }}">
                                            <label for="surname">Apellido</label>
                                            <input type="text" name="surname" class="form-control mb-3" placeholder="Ingrese el apellido..." value="{{ person.surname }}">
                                            <label for="age">Edad</label>
                                            <input type="number" name="age" class="form-control mb-3" placeholder="Ingrese la edad..." value="{{ person.age }}">
                                            <label for="sex">Sexo</label>
                                            <select name="sex" class="form-control mb-3">
                                                <option value="{{ person.sex.id }}">{{ person.sex }}</option>
                                                {% for sex in sexs %}
                                                    <option value="{{ sex.id }}">{{ sex.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <label for="document_type">Tipo de Documento</label>
                                            <select name="document_type" class="form-control mb-3">
                                                <option value="{{ person.document_type.id }}">{{ person.document_type }}</option>
                                                {% for document_type in document_types %}
                                                    <option value="{{ document_type.id }}">{{ document_type }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="civil_status">Estado Civil</label>
                                            <select name="civil_status" class="form-control mb-3">
                                                <option value="{{ person.civil_status.id }}">{{ person.civil_status }}</option>
                                                {% for civil_status in civil_status_collection %}
                                                    <option value="{{ civil_status.id }}">{{ civil_status }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="province">Provincia</label>
                                            <select name="province" class="form-control mb-3">
                                                <option value="{{ person.province.id }}">{{ person.province }}</option>
                                                {% for province in provinces %}
                                                    <option value="{{ province.id }}">{{ province }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success">Actualizar</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="delete_modal{{ person.id }}" tabindex="-1" aria-labelledby="delete_modal{{ person.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger text-light">
                            <h5 class="modal-title" id="delete_modal">Eliminar Persona</h5>
                            </div>
                            <div class="modal-body">
                                <p><strong>Se eliminara: </strong>({{ person.id }}){{ person }}</p>
                                <form action="{% url 'delete_person' person.id %}" method="POST">
                                    {% csrf_token %}
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-danger">Confirmar</button>
                            </form>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Create Modal -->
    <div class="modal fade" id="create_modal" tabindex="-1" aria-labelledby="create_modal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
            <h5 class="modal-title" id="create_modal">Crear Persona</h5>
            </div>
            <div class="modal-body">
                <form action="{% url 'create_person' %}" method="POST" class="form-group">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" class="form-control mb-3" placeholder="Ingrese el nombre...">
                            <label for="surname">Apellido</label>
                            <input type="text" name="surname" class="form-control mb-3" placeholder="Ingrese el apellido...">
                            <label for="age">Edad</label>
                            <input type="number" name="age" class="form-control mb-3" placeholder="Ingrese la edad...">
                            <label for="sex">Sexo</label>
                            <select name="sex" class="form-control mb-3">
                                <option value="">---- Seleccione una opcion ----</option>
                                {% for sex in sexs %}
                                    <option value="{{ sex.id }}">{{ sex.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="document_type">Tipo de Documento</label>
                            <select name="document_type" class="form-control mb-3">
                                <option value=""> Seleccione una opcion</option>
                                {% for document_type in document_types %}
                                    <option value="{{ document_type.id }}">{{ document_type }}</option>
                                {% endfor %}
                            </select>
                            <label for="civil_status">Estado Civil</label>
                            <select name="civil_status" class="form-control mb-3">
                                <option value="">Seleccione una opcion</option>
                                {% for civil_status in civil_status_collection %}
                                    <option value="{{ civil_status.id }}">{{ civil_status }}</option>
                                {% endfor %}
                            </select>
                            <label for="province">Provincia</label>
                            <select name="province" class="form-control mb-3">
                                <option value="">Seleccione una opcion</option>
                                {% for province in provinces %}
                                    <option value="{{ province.id }}">{{ province }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            </div>
        </div>
        </div>
    </div>
{% endblock %}